/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Navbar estilo */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid red;
    position: relative; 
    z-index: 2;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-rounded {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bottom-rounded {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar .search-icon {
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}

.navbar .search-icon:hover {
    color: red;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}


/* Main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p, section ul {
    margin: 10px 0;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 5px;
}

/* Footer estilo */
footer {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 2px solid red;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
